@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Nunito:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-slate-900 bg-slate-50;
}

a {
  @apply text-ocean hover:text-coral transition-colors;
}
